<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="CUPSicon1.ico" type="image/x-icon/">
  <title>Profile</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="profile_style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Serif:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lora:ital@1&family=Noto+Serif:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Partial: Top navigation with search bar -->
        <!-- TODO: link the top buttons to relevent pages -->
        <nav class="sticky-top">
            <div class="topnav">
                <a href="/forum">
                    <img class="navicon" src="CUPSicon1.ico">
                </a>
                <!-- <div class="search-container">
                    <form>
                        <input type="text" id="searchInput" placeholder="Search title or content...">
                        <button type="button" onclick="search()" ><i class="fa fa-search"></i></button>
                    </form>
                </div> -->
                <a href="/newthread" class="newpo"><b>New Post </b><i class="fa fa-edit"></i> </a>
                <div class="topnav-right">
                <!-- TODO: change href to other pages accordingly -->
                <a href="/profile"><i class="fa fa-user"></i></a>
                <a href="/logout"><i class="fa fa-sign-out"></i></a>
            </div>
            </div>
        </nav>
    <img class="navpic" src="navpic.jpg">
    <div id="app">
    <div class="content">
    <div class="mainbody">
    <div class="container0">
      <div class="head">
        <% if (utype===1) {%>
          <% if (propic) {%>
          <img style="border:rgba(94, 168, 211, 0.7) 3px solid;" src="data:image/png;base64,<%= propic %>" alt="" >
          <%} else {%>
            <img style="border:rgba(94, 168, 211, 0.7) 3px solid;" src="CSCI 3100.jpg" alt="">
            <%}%>
        <%} else {%>
          <% if (propic) {%>
          <img style="border:rgba(211, 94, 94, 0.7) 3px solid;" src="data:image/png;base64,<%= propic %>" alt="">
          <%} else {%>
            <img style="border:rgba(211, 94, 94, 0.7) 3px solid;" src="CSCI 3100.jpg" alt="">
            <%}%>
        <%}%>
        <div class="container1">
          <div id="name"><%=username%></div>
          <div style="margin-top: 0;" id="info"><%=caption%></div>
        </div>
        <br>
        <!-- <input style="font-size: 15px; width: 5%; margin-left: 10%; color: gray; border: none;" class="btn" type="button" name="" value="Edit"> -->
      </div>
      <div class="left">
        <div class="item" v-bind:class="currentChoice === 0 ? 'active' : ''" @click="handleClick(0)">My Post</div>
        <div class="item" v-bind:class="currentChoice === 1 ? 'active' : ''" @click="handleClick(1)">Liked Post</div>
        <div class="item" v-bind:class="currentChoice === 2 ? 'active' : ''" @click="handleClick(2)">My Comments</div>
        <div class="item" v-bind:class="currentChoice === 3 ? 'active' : ''" @click="handleClick(3)">My Credits</div>
        <div class="item" v-bind:class="currentChoice === 4 ? 'active' : ''" @click="handleClick(4)">Edit My Profile</div>
      </div>
      
      <div class="main">
        <div v-if="currentChoice === 0">
          <div style="text-align: center; font-size: 20px; margin: 1%;">
            My Post
          </div>
         
         <table class = "table" id="forumList" >
           <tr class="header">
               <th style="text-align:center">Post ID</th>
               <th style="text-align:center">Title</th>
               <th style="text-align:center">Preview of content</th>
               <th style="text-align:center">Course</th>
               <th style="text-align:center">Type</th>
               <th style="text-align:center">Author </th>
               <th style="text-align:center">Time</th>
           </tr>
           <% for(var i = 0; i<own_post.length; i++) { %>
             <tr>
               <th style="text-align:center"><%=own_post[i].PID%></th>
               <td style="text-align:center"><%=own_post[i].HEADING%></td>
               <td><%=own_post[i].TEXT_CONTENT.substring(0, 15)%>... </td>
               <td style="text-align:center"><%=own_post[i].CLASS%></td>
               <td style="text-align:center"><%if (own_post[i].TYPE==1) {%>Q&A<%}else{%>Task<%}%></td>
               <td style="text-align:center"><%=own_post[i].NAME%></td>
               <td style="text-align:center">
                 <%if (Math.round((own_post[i].TIME / 60) /24) >0) {%> <%=Math.round((own_post[i].TIME / 60) /24)%> days
                 <%}else if (Math.round((own_post[i].TIME / 60)) >0) {%> <%=Math.round(own_post[i].TIME / 60)%> hours
                 <%}else {%> <%=own_post[i].TIME %> minutes<%}%>
                 ago</td>
             </tr>
             <% } %>
       </table>
         </div>
        <div v-else-if="currentChoice === 1">
          <div style="text-align: center; font-size: 20px; margin: 1%;">
            Liked Post
          </div>
         <table class = "table" id="forumList" >
           <tr class="header">
               <th style="text-align:center">Post ID</th>
               <th style="text-align:center">Title</th>
               <th style="text-align:center">Preview of content</th>
               <th style="text-align:center">Course</th>
               <th style="text-align:center">Type</th>
               <th style="text-align:center">Author </th>
               <th style="text-align:center">Time</th>
           </tr>
           <% for(var i = 0; i<liked_post.length; i++) { %>
           <tr>
             <th style="text-align:center"><%=liked_post[i].PID%></th>
             <td style="text-align:center"><%=liked_post[i].HEADING%></td>
             <td><%=liked_post[i].TEXT_CONTENT.substring(0, 15)%>... </td>
             <td style="text-align:center"><%=liked_post[i].CLASS%></td>
             <td style="text-align:center"><%if (liked_post[i].TYPE==1) {%>Q&A<%}else{%>Task<%}%></td>
             <td style="text-align:center"><%=liked_post[i].NAME%></td>
             <td style="text-align:center">
               <%if (Math.round((liked_post[i].TIME / 60) /24) >0) {%> <%=Math.round((liked_post[i].TIME / 60) /24)%> days
               <%}else if (Math.round((liked_post[i].TIME / 60)) >0) {%> <%=Math.round(liked_post[i].TIME / 60)%> hours
               <%}else {%> <%=liked_post[i].TIME %> minutes<%}%>
               ago</td>
           </tr>
           <% } %>
          
       </table>
        </div>
        <div v-else-if="currentChoice === 2">
          <div style="text-align: center; font-size: 20px; margin: 1%;">
            Comments
          </div>
        <table class = "table" id="forumList" >
         <tr class="header">
             <th style="text-align:center">Post ID</th>
             <th style="text-align:center">Title</th>
             <th style="text-align:center">Preview of content</th>
             <th style="text-align:center">Course</th>
             <th style="text-align:center">Type</th>
             <th style="text-align:center">Author </th>
             <th style="text-align:center">Time</th>
         </tr>
         <% for(var i = 0; i<commented_post.length; i++) { %>
           <tr>
             <th style="text-align:center"><%=commented_post[i].PID%></th>
             <td style="text-align:center"><%=commented_post[i].HEADING%></td>
             <td><%=commented_post[i].TEXT_CONTENT.substring(0, 15)%>... </td>
             <td style="text-align:center"><%=commented_post[i].CLASS%></td>
             <td style="text-align:center"><%if (commented_post[i].TYPE==1) {%>Q&A<%}else{%>Task<%}%></td>
             <td style="text-align:center"><%=commented_post[i].NAME%></td>
             <td style="text-align:center">
               <%if (Math.round((commented_post[i].TIME / 60) /24) >0) {%> <%=Math.round((commented_post[i].TIME / 60) /24)%> days
               <%}else if (Math.round((commented_post[i].TIME / 60)) >0) {%> <%=Math.round(commented_post[i].TIME / 60)%> hours
               <%}else {%> <%=commented_post[i].TIME %> minutes<%}%>
               ago</td>
           </tr>
           <% } %>
     </table>
        </div>
        <div v-if="currentChoice === 3">
         <div class="credit"style="text-align: center; font-size: 25px; margin: 3%;">
           Current credit is <%=credit%>
         </div>

        </div>
        <div v-if="currentChoice === 4">
          <div class="edit">
            <div style="text-align: center;" class="login-box">
              <!-- <h1>Login</h1> -->      
      
                  <form method="POST" action="/process-edit" enctype="multipart/form-data">
                      <div class="textbox">
                          <i class="fa fa-user" aria-hidden="true"></i>
                          <input style="font-size: 18px; border: 0; border-bottom: 1px gray solid; background-color: transparent;" type="text" placeholder="Username" name="username" value="">
                      </div>
              
                      <div class="textbox">
                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                          <input style="font-size: 18px; border: 0; border-bottom: 1px gray solid; background-color: transparent;" type="text" placeholder="YearX Major" name="info" value="">
                      </div>
                      <br>
                      <label for="graphics">Select image:</label>
                      <input type="file" id="graphics" name="propic" accept="image/*">  
                      <br>
                      <input style="font-size: 18px; color: gray;" class="btn" type="submit" name="" value="Submit">
                      
                  </form>
              
          </div>
          </div>
        </div>
     </div>
    </div>
  </div>
  </div>
  <br>
  <br>
    <div class="footer">
      This website was built on <time>2021-04-14</time>. <b>© CSCI3100 Group F6</b>
    </div>
 
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        currentChoice: 0,
        currentCredit: 320,
        myPost: [],
        following: [],
        comments: [],
        credits: []
      },
      methods: {
        handleClick(e){
          this.currentChoice = e;
          console.log(this.currentChoice);
        }
      }
    });
  </script>
</body>
</html>
